html {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

}

body {
  background-color: pink;
}

.window-body {
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
}

#booksList {
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* align-items: center; */

}

/* #booksList .bookInfo {
  al
} */

.bookInfo .bookImg {
  width: 5px;
  padding: 1px;
  border: 1px solid black;
}